/* Client Card -------------------------------------*/
.client-card {
    text-align: center;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        transform: scale(1.05);
    }
}